.content-box {
  position: absolute;
  left: 150px;
  right: 0;
  top: 80px;
  bottom: 0;
  overflow-y: scroll;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #f0f0f0;
}

.content {
  width: auto;
  padding: 20px;
}

.container {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.content-collapse {
  left: 65px;
}

.mgb20 {
    margin-bottom: 20px;
  }

/*表单*/

.table{
  min-width: 600px;
}
